/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f5f2;
}

/* Header */
header {
    text-align: center;
    padding: 20px;
    background-color: #222;
}

header img {
    max-width: 200px;
}

/* Welcoming Section */
.welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #ddd;
}

.welcome-text {
    max-width: 50%;
}

.welcome h1 {
    color: #b28041;
}

.welcome p {
    font-size: 18px;
}

.welcome-image img {
    max-width: 400px;
    border-radius: 10px;
}

/* Beer Menu */
.beer-menu {
    text-align: center;
    padding: 50px;
    background-color: #fff;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-image img {
    max-width: 400px;
    border-radius: 10px;
}

.menu-list {
    max-width: 50%;
}

.beer-item {
    text-align: left;
    margin-bottom: 20px;
}

.beer-item h3 {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

.beer-item span {
    color: #b28041;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-info p {
    margin: 5px 0;
}

.social-media img {
    max-width: 30px;
    margin-top: 10px;
}
